@use '../abstracts/shares.scss' as *;

#home-sec {
    height: 100vh;
    position: relative;

    .nav {
        position: fixed;
        width: 100%;
        z-index: 20;

        .navbar {
            background-color: transparent;
            transition-duration: .5s;
            padding-inline: 0px;

            @include responsive(350) {
                .navbar-collapse {

                    background-color: white;
                    text-align: center;
                    border-radius: 15px;

                }
            }

            @include responsive(1050) {
                .navbar-collapse {
                    background-color: transparent;
                }
            }


            @include responsive(450) {
                background-color: rgba(196, 191, 191, 0.614);
            }

            @include responsive(650) {
                background-color: transparent;
            }

            @include responsive(850) {}

            @include responsive(1050) {}

            @include responsive(1200) {}
        }

        &.scrolled {
            .navbar-brand {
                @include responsive(350) {
                    width: 29%;
                }

                @include responsive(650) {
                    width: 20%;
                }

                @include responsive(850) {
                    width: 18%;
                }

                @include responsive(1050) {
                    width: 15%;
                }

                @include responsive(1200) {
                    width: 10%;
                }

            }

            .navbar {
                background-color: rgba(255, 255, 255, 0.776);
            }
        }

        .navbar-brand {
            transition-duration: .5s;

            @include responsive(350) {
                width: 25%;
            }

            @include responsive(650) {
                width: 25%;
            }

            @include responsive(850) {
                width: 20%;
            }

            @include responsive(1050) {
                width: 12%;
            }

            @include responsive(1200) {
                width: 8%;
            }


        }

        .dropdown-toggle {
            &::after {
                display: none;
            }
        }

        .dropdown-menu {
            transform: translateX(-50%);
        }

        .nav-link {
            color: $firstColor;
            font-weight: bold;
            position: relative;
            padding: 0%;
           

            @include responsive(350) {
                margin-block: 10px;
            }

            @include responsive(1050) {
                font-size: 15px;
                margin-inline: 8px;
            }
             @include responsive(1200) {
                font-size: 15px;
                 margin-inline: 10px;
             }



            &::before,
            &::after {
                content: '';
                display: block;
                width: 0%;
                height: 2px;
                position: absolute;

                top: 52%;
                background-color: #ee5e00;
                margin-top: 10px;
                transition-duration: .5s;

            }

            &::before {
                left: 50%;
            }

            &::after {
                right: 50%;
            }

            &:hover,
            &.active {

                &::before,
                &::after {
                    width: 50%;
                }

            }

        }
    }

    #Home {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @include responsive(450) {}

        .container {
            padding-top: 50px;
        }

        h1 {
            font-size: 50px;

            @include responsive(350) {
                font-size: 30px;
            }

            @include responsive(850) {
                font-size: 50px;
            }
            
        }

        .item {
            img {

                @include responsive(450) {
                    width: 50%;
                }

                @include responsive(850) {
                    width: 75%;
                }

                @include responsive(1050) {
                    width: 80%;
                }
            }
        }

        h1,
        i {
            color: $firstColor;
        }

        h6 {
            color: $secondColor;
        }



        header .container .animate img:nth-of-type(3) {
            animation-name: animate-arrow-third;
        }

        .animatedArrows {
            position: absolute;
            z-index: 2;
            left: 50%;
            transform: translate(-50%);
            bottom: 10%;
            width: 24px;
            height: 24px;

            img {
                width: 24px;
                position: absolute;
                top: -2px;
                left: 0;
            }

            img:nth-of-type(1) {
                animation-delay: 0s;
                @include animated-moves(0px, 1.5s);
            }

            img:nth-of-type(2) {
                animation-delay: 1.5s;
                @include animated-moves(17px, 1.5s);
            }

            img:nth-of-type(3) {
                animation-delay: 3s;
                @include animated-moves(35px, 1.5s);
            }
        }

        .wave-img {
            position: absolute;
            bottom: -.5px;
            left: 0;
            transform: rotate(180deg);
            width: 100%;
        }

        .video-icon {
            .icon {
                width: 45px;
                height: 45px;
                display: inline-block;
                position: relative;
                margin-right: 15px;

                i {
                    font-size: 16px;
                    border-radius: 100%;
                    transition-duration: .5s;
                    width: 45px;
                    height: 45px;
                    flex-direction: row;
                    position: absolute;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 0px;
                    height: 0px;
                    background-color: #719f3d;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition-duration: .5s;
                    border-radius: 100%;
                }

                &:hover {
                    &::before {
                        width: 100%;
                        height: 100%;

                    }

                    i {
                        color: white;
                    }

                }
            }
        }



    }

}